@model Lab3_MVC_.Models.Districts
@{
    ViewData["Title"] = "Districts";

    <h2> Belarus Districts </h2>

    @using (Html.BeginForm("Index", "Settlements"))
    {
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DropDownList("Id", ViewData["DistrictsList"] as SelectList, "--- Select district ---")
                                </th>

                                <th>
                                    <input type="submit" value="Submit">
                                </th>
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
        </div>


    }

}


