@model Lab3_MVC_.Models.Regions

@{
    ViewData["Title"] = "Regions";

    <h2> Belarus Regions </h2>

@using (Html.BeginForm("Index", "Districts"))
{
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DropDownList("Id", ViewData["RegionsList"] as SelectList)
                            </th>

                            <th>
                                <input type="submit" value="Submit">
                            </th>
                        </tr>
                    </table>
                </div>
                
            </form>
        </div>
    </div>


}

}

            
